{%extends 'dashboard-home.html'%}
{%load static%}
{%block content%}
<style>
    table td{
  position: relative;
}

table td input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

</style>
<h3 class="mt-3">New Quotation</h3>

<div class="card">
    <div class="container-fluid">
        <form action="" method="post" enctype="multipart/form-data" class=" mt-4">
            {%csrf_token%}
    <div class="input-group mb-5">
        <span class="input-group-text" id="">Customer Name<span
                                class="text-danger">*</span></span>
                                <select name="thing" id="select-beast" class="form-select" placeholder="Select a person..." autocomplete="off">
                                    <option class="" >Select a Customer</option>
                                    <option >Thomas Edison</option>
                                    <option >Nikola</option>
                                    <option >Nikola Tesla</option>
                                    <option >New Thing</option>
                                    
                                </select>
        <div class="d-flex justify-content-between">
            <div class="">
               
            </div>
            <div class="ms-4">
                <a class="btn btn-primary" href="{%url 'new-customer'%}" >
                    <i class="bi bi-plus-circle"></i> New Customer</a>
            </div>
        </div>


    </div>


<!--    <label for="basic-url" class="form-label">Your vanity URL</label>-->
    

   <div class="input-group mb-5 mt-5">
         <span class="input-group-text" id="">Expiry date<span
                                class="text-danger">*</span></span>
        <input type="date" name="expiry_date" class="form-control" id="" aria-describedby="basic-addon3">
    </div>

    
            <!-- Table -->
            <div class="js-add-field row mb-4" data-hs-add-field-options='{
                "template": "#quantity","#rate","#discount","#tax","#amount",
                "container": "#addPhoneFieldContainer",
                "defaultCreated": 0
              }'>
<table class="table table-bordered table-thead-bordered mb-3">
  <thead class="thead-light">
    <tr>
      <th scope="col">Item Detatils</th>
      <th scope="col">Quantity</th>
      <th scope="col">Rate</th>
      <th scope="col">Discount</th>
        <th scope="col">Tax</th>
         <th scope="col">Amount</th>
         <!-- <th scope="col">Total</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>
        <textarea name="item_details" class="form-control border border-0" aria-label="With textarea" required></textarea>
      </td>
      
      <td>
          <input name="quantity" id="quantity" class="table border-0" type="number">
      </td>
        <td>
          <input name="rate" id="rate" class="table border-0" type="number">
      </td>
        <td>
          <input name="discount" id="discount" class="table border-0" type="number">
      </td>
        <td> 
          <input name="tax" id="tax" class="table border-0" type="number">
      </td>
        <td>
          <input name="amount" id="amount" class="table border-0" type="number">
      </td>
    </tr>


  </tbody>
</table>
<div id="addPhoneFieldContainer"></div>
<a class="js-create-field form-link" href="javascript:;">
    <i class="bi-plus"></i> Add items
  </a>
  </div>
      <!-- <div class="input-group mb-3">
         <span class="input-group-text" id="">Issued by<span
                                class="text-danger">*</span></span>
        <input type="text" name="quote_address" class="form-control" id="" aria-describedby="basic-addon3">
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">Accepted by<span
                                class="text-danger">*</span></span>
        <input type="text" name="quote_address" class="form-control" id="" aria-describedby="basic-addon3">
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">Subtotal<span
                                class="text-danger">*</span></span>
        <input type="text" name="quote_address" class="form-control" id="" aria-describedby="basic-addon3">
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">Discount<span
                                class="text-danger">*</span></span>
        <input type="text" name="quote_address" class="form-control" id="" aria-describedby="basic-addon3">
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">Freight<span
                                class="text-danger">*</span></span>
        <input type="text" name="quote_address" class="form-control" id="" aria-describedby="basic-addon3">
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">Transport<span
                                class="text-danger">*</span></span>
        <input type="text" name="quote_address" class="form-control" id="" aria-describedby="basic-addon3">
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">VAT total<span
                                class="text-danger">*</span></span>
        <input type="text" name="quote_address" class="form-control" id="" aria-describedby="basic-addon3">
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">Total<span
                                class="text-danger">*</span></span>
        <input type="text" name="quote_address" class="form-control" id="" aria-describedby="basic-addon3">
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">remarks<span
                                class="text-danger">*</span></span>
<textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
            <div class="input-group mb-3">
         <span class="input-group-text" id="">Note<span
                                class="text-danger">*</span></span>
<textarea name="note" class="form-control" aria-label="With textarea" required></textarea>
    </div> -->

    <div class="input-group mb-5">
        <span class="input-group-text" id="">Customer notes<span
                               class="text-danger">*</span></span>
        <textarea name="customer_notes" class="form-control" aria-label="With textarea" required></textarea>
   </div>
           <div class="input-group mb-5">
        <span class="input-group-text" id="">Terms and conditions <span
                               class="text-danger">*</span></span>
        <textarea name="terms_and_conditions" class="form-control" aria-label="With textarea" required></textarea>
   </div>
 <div class="input-group mb-4">
     <input type="submit" class="btn btn-primary">
    </div>


</form>
    </div>
</div>

<!--<form action="" method="post">-->
<!--    {%csrf_token%}-->
<!--    {{form.as_p}}-->
<!--    <input type="submit">-->
<!--</form>-->

{%for customer in customers%}
<p>
    {{customer.customer_id}}
    {{customer.customer_displayname}}
    {{customer.cusotmer_email}
    {{customer.company_name}
</p>
{%endfor%}


<script>
 new TomSelect("#select-beast",{
	create: false,
	sortField: {
		field: "text",
		direction: "asc"
	}
});



</script>
{%endblock%}
