{%extends 'dashboard-home.html'%}
{%load static%}
{%block content%}
<div class="d-flex justify-content-between mt-3 mb-3">
    <div><h3 class="container mt-3">All Items</h3></div>
    <div>
    <a class="btn btn-primary" href="{%url 'add-item'%}" >
                <i class="bi bi-plus-circle"></i> New Item
              </a>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title"></h4>
    </div>
  
    <!-- Table -->
    <div class="table-responsive datatable-custom">
      <table class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
             data-hs-datatables-options='{
                     "order": [],
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatableWithPaginationPagination"
                   }'>
        <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Rate</th>
          <th>Usage Unit</th>
          
          
          
        </tr>
        </thead>
  
        <tbody>
        <tr>
          <td>vishnu</td>
          <td>kslls</td>
          <td>1323</td>
          <td>lls</td>
        </tr>
  
        
        </tbody>
      </table>
    </div>
    <!-- End Table -->
  
    <!-- Footer -->
    <div class="card-footer">
      <!-- Pagination -->
      <div class="d-flex justify-content-center justify-content-sm-end">
        <nav id="datatableWithPaginationPagination" aria-label="Activity pagination"></nav>
      </div>
      <!-- End Pagination -->
    </div>
    <!-- End Footer -->
  </div>
{%endblock%}